# MariaDB
MYSQL_ROOT_USER=admin
MYSQL_ROOT_PASSWORD=password123
MYSQL_DATABASE=my_database
MYSQL_USER=n1smm
MYSQL_PASSWORD=password123

# WordPress
WORDPRESS_DB_HOST=mariadb
WORDPRESS_DB_USER=n1smm
WORDPRESS_DB_PASSWORD=password123
WORDPRESS_DB_NAME=my_database
WORDPRESS_SITE_URL=https://tjuvan.42.fr
WORDPRESS_SITE_TITLE=tjuvan.fr
WORDPRESS_ADMIN_USER=bossman
WORDPRESS_ADMIN_EMAIL=tjaz.juvan@gmail.com
WORDPRESS_ADMIN_PASSWORD=password123
WORDPRESS_EXTRA_USER=nismm
WORDPRESS_EXTRA_PASSWORD=password123
WORDPRESS_EXTRA_EMAIL=nismm@nismm.com

#redis
WORDDPRESS_REDIS_HOST="redis"
WORDDPRESS_REDIS_PORT="6379"
WORDDPRESS_REDIS_PASSWORD=password123

#FTP
FTP_USER=nismm
FTP_PASSWORD=password123




